@import "../../global.css";

.profile-background{
    background-image: url("../../images/bgpic.jpg");
    background-size: 100%;
    background-position-x: center;

    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    
    background-color: var(--BackgroundUncovered);
    height: 27.5%;
    width: 85%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.profile-account{
    font-size: 20px;
    height: 100%;
    width: 70%;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    color: var(--MessageColorUncovered);
}

.history-background{
    text-align: center;
    background-color: var(--BackgroundUncovered);
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history{
    text-align: center;
    background-color: var(--BackgroundUncovered);
    width: 85%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    /* padding-top: 25px;
    padding-bottom: 25px; */
}

.history-menuFramework{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-element{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-elementInner{
    width: 100%;
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}


.history-listNumber{
    font-size: 20px;
    width: 5%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.history-listAccount{
    font-size: 20px;
    width: 44%;
    text-align: center;
    color: var(--MessageColorUncovered);
}

.history-listOperation{
    font-size: 20px;
    width: 10%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.history-listValue{
    font-size: 20px;
    width: 14%;
    text-align: center;
    color: var(--MessageColorUncovered);
}

.history-listCost{
    font-size: 20px;
    width: 20%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.history-listMenuStatus{
    font-size: 20px;
    width: 7%;
    text-align: center;
    color: var(--MessageColorUncovered);
}

.history-listStatus{
    width: 7%;
    display: flex;
    justify-content: right;
    color: var(--MessageColorUncovered);
}

.history-approved{
    font-size: 20px;
    width: 90%;
    text-align: center;
    background-color: var(--ApprovedColor);
    color: var(--ApprovedColor);
}

.history-invalid{
    font-size: 20px;
    width: 90%;
    text-align: center;
    background-color: var(--InvalidColor);
    color: var(--InvalidColor);
}

.history-rejected{
    font-size: 20px;
    width: 90%;
    text-align: center;
    background-color: var(--RejectedColor);
    color: var(--RejectedColor);
}

.refresh-profile {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.fox-icon{

    /* padding-left: 16px; */
    /* padding-right: 16px; */
    padding-top: 8px;
    padding-bottom: 1px;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.listings-header{

    padding-left: 16px;
    /* padding-right: 16px; */
    padding-bottom: 1px;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 2px;
    text-align: left;

}