@import "../../global.css";

.market-background{
    text-align: center;
    background-color: var(--BackgroundUncovered);
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market{
    text-align: center;
    background-color: var(--BackgroundUncovered);
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.market-menuFramework{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market-element{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market-elementInner{
    width: 100%;
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}


.market-listNumber{
    font-size: 20px;
    width: 5%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.market-listAccountID{
    font-size: 20px;
    width: 44%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.market-listCredits{
    font-size: 20px;
    width: 10%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.market-listPrice{
    font-size: 20px;
    width: 14%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.market-description{
    font-size: 20px;
    width: 20%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.market-listOwner{
    font-size: 20px;
    width: 7%;
    text-align: center;
    color: var(--MessageColorUncovered);
    background-color: var(--BackgroundMasked);
}

.market-listStatus{
    width: 7%;
    display: flex;
    justify-content: right;
    color: var(--MessageColorUncovered);
}

.market-approved{
    font-size: 20px;
    width: 90%;
    text-align: center;
    background-color: var(--ApprovedColor);
    color: var(--ApprovedColor);
}

.market-invalid{
    font-size: 20px;
    width: 90%;
    text-align: center;
    background-color: var(--InvalidColor);
    color: var(--InvalidColor);
}

.market-rejected{
    font-size: 20px;
    width: 90%;
    text-align: center;
    background-color: var(--RejectedColor);
    color: var(--RejectedColor);
}