@import "../../global.css";

.make-listing-background{
    text-align: center;
    background-color: var(--BackgroundUncovered);
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.make-listing{
    text-align: center;
    background-color: var(--BackgroundUncovered);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.make-listing-intro{
    width: 65%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
    color: var(--MessageColorUncovered);
}

.make-listing-vertLine{
    height: 100%;
    width: 1px;
    background-color: var(--BackgroundCovered);
}

.make-listing-box{
    height: 100%;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    color: var(--MessageColorUncovered);
}

.make-listing-storeBox{
    text-align: left;
    font-size: 15px;
    color: var(--KeyMessageColor);
    padding-top: 30px;
    text-align: center;
}

.make-listing-getBox{
    text-align: left;
    font-size: 15px;
    color: var(--MessageColorUncovered);
}

.make-listing-btn {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.make-status {
    color: green;
}